<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Accedi</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
				integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
				crossorigin="anonymous">
	</head>
	<body class="container-fluid row">

		<div class="container-fluid text-center">

			<form action="accedi/submit" method="post">


				<h1 class="display-5 mx-auto m-4">Accesso area clienti</h1>

				<div class=" align-items-center">

					<hr class="my-4">


					<div th:if="${alert != null}" th:utext="${alert.getRawHtml()}" th:remove="tag"></div>
					<table class="mx-auto" >
						<tr>
							<th>Username:</th>
							<td>
								<input type="text" id="username" placeholder="username" name="username"/>
							</td>

						</tr>
						<tr>
							<th>Password:</th>
							<td>
								<input type="password" id="password" placeholder="password" name="password"/>
							</td>

						</tr>
					</table>

					<div class="justify-content-start">
						<input class="btn btn-primary m-1"
								type="submit" value="Accedi"/>
					</div>
				</div>
			</form>
		</div>

	</body>
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
			integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
			crossorigin="anonymous"></script>
	<script src="/init.js"></script>
</html>