<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>AreaClienti</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
				integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
				crossorigin="anonymous">

	</head>
	<body>
		<div class="container-fluid text-center">

			<div class="row">

				<div class="col-4">
				</div>
				<div class="col-4">

					<h1 class="display-5 mx-auto m-4">Area cliente</h1>
				</div>
				<div class="col-4 d-flex justify-content-end align-items-center">

					<a class=" btn btn-primary m-1" href="/utente/logout">Logout</a>
					<a class=" btn btn-primary m-1" href="/utente/logout">Logout</a>


				</div>

			</div>


			<div th:if="${alert != null}" th:utext="${alert.getRawHtml()}" th:remove="tag"></div>


			<div class="container border border-primary rounded p-3">
				<div class="g-2">
					<div>
						<div>


							<a class=" btn btn-primary m-1" href="/utente/ordinazionePizzeria">Ordinazione pizzeria
							</a>
							<a class=" btn btn-primary m-1" href="/utente/ordinazioneRistorante">Ordinazione ristorante
							</a>

						</div>

						<a class=" btn btn-primary m-1" href="/utente/prenotazioneSoggiorno">Prenotazione Soggiorno
						</a>
						<a class=" btn btn-primary m-1" href="/utente/prenotazioneAttivitaIppica">Prenotazione Attività
							Ippica
						</a>
						<a class=" btn btn-primary m-1" href="/utente/prenotazioneEscursione">Prenotazione Escursione
						</a>

					</div>


				</div>

				</form>

			</div>

		</div>

	</body>
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
			integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
			crossorigin="anonymous"></script>
</html>