<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>AreaClienti</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
				integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
				crossorigin="anonymous">

	</head>
	<body>
		<div class="container-fluid text-center">

			<h1 class="display-5 mx-auto m-4">Area cliente</h1>

			<div class="container border border-primary rounded p-3">
				<div class="d-flex flex-column g-2">
					<div class="row">

					<a class=" btn btn-primary m-1" href="/utente/ordinazionePizzeria">Ordinazione pizzeria</a>
					<a class=" btn btn-primary m-1" href="/utente/ordinazioneRistorante">Ordinazione ristorante</a>

					</div>

					<a class=" btn btn-primary m-1" href="/utente/ordinazioneRistorante">Prenotazione Soggiorno</a>
					<a class=" btn btn-primary m-1" href="/utente/ordinazioneRistorante">Prenotazione Attività Ippica</a>
					<a class=" btn btn-primary m-1" href="/utente/ordinazioneRistorante">Prenotazione Escursione</a>
					<a class=" btn btn-primary m-1" href="/utente/logout">Logout</a>


				</div>

				</form>

			</div>

		</div>

	</body>
</html>