<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>login</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
				integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
				crossorigin="anonymous">

	</head>
	<body>
		<div class="container-fluid text-center">

			<h1 class="display-3 mx-auto m-4">Login</h1>

			<div class="container border border-primary rounded p-3">
				<form method="post" action="accesso.html">
					<div class="d-flex flex-column g-2">


						<input name="username" class="d-block my-2 mx-auto p-1"
								type="text" placeholder="Username..."/>
						<input name="password" class="d-block my-2 mx-auto p-1"
								type="password" placeholder="Password..."/>
						<input class="d-block my-2 mx-auto btn btn-primary"
								type="submit" value="Login"/>
					</div>
				</form>
			</div>

		</div>

	</body>
</html>