<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Ordinazione Piatti</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
				integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
				crossorigin="anonymous">

	</head>
	<body>
		<div class="container-fluid text-center">

			<div class="row">

				<div class="col-4">
				</div>
				<div class="col-4">

					<h1 class="display-5 mx-auto m-4">Menu Ristorante piatti tipici locali</h1>

				</div>
				<div class="col-3 d-flex justify-content-end align-items-center">

					<a class=" btn btn-primary m-1" href="/utente/visualizzaOrdinazioniPiatti">Acquisto
					</a>


				</div>

			</div>

			<div class="container border border-primary rounded p-3">
				<div class="d-flex flex-column g-2 align-items-center">


					<body>

						<h2>ordina piatti</h2>

						<form action="/utente/ordinazioneRistorante/submit" method="POST">


							<table border="1">
								<tr>
									<th>Nome</th>
									<th>Prezzo</th>
									<th>Azioni</th>
								</tr>

								<tr th:each="piatto: ${piatti}" th:object="${piatto}">
									<td th:text="*{descrizione}"></td>
									<td th:text="*{prezzo}"></td>

									<td>
										<input type="submit" value="ordina">
									</td>
									<input type="number" th:value="*{id}" name="id" hidden>


								</tr>

							</table>


						</form>


					</body>


				</div>
			</div>

		</div>

	</body>
</html>