<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Prenotazione Attività Ippica</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
				integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
				crossorigin="anonymous">

	</head>
	<body>
		<div class="container-fluid text-center">

			<h1 class="display-5 mx-auto m-4">Prenota attività ippica</h1>

			<div class="container border border-primary rounded p-3">
				<div class="d-flex flex-column g-2 align-items-center">


					<h1>Elenco attività ippiche</h1>


					<table border="1">

						<tr>
							<th>Orario inizio</th>
							<th>Orario fine</th>
							<th>Prezzo</th>
							<th>Azioni</th>
						</tr>

						<form action="/utente/prenotazioneAttivitaIppica/submit" method="POST">

							<tr th:each="attivita : ${attivitaippica}" th:object="${attivita}">
								<td th:text="*{#dates.format(dataCheckin,'dd-MM-yyyy HH:mm')}"></td>
								<td th:text="*{#dates.format(dataCheckout,'dd-MM-yyyy HH:mm')}"></td>
								<td th:text="*{prezzo}"></td>

								<td>
									<input type="submit" value="prenota">
								</td>
								<input type="number" th:value="*{id}" name="id" hidden>

							</tr>

						</form>

					</table>


				</div>
			</div>

		</div>

	</body>
</html>