<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Home</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
				integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
				crossorigin="anonymous">

	</head>
	<body>
		<div class="container-fluid text-center">

			<h1 class="display-2 mx-auto m-4">Agriturismo</h1>

			<div class="container border border-primary rounded p-3">
				<h1 class="my-2">Area Clienti</h1>
				<div class="row">
					<a class="col btn btn-lg btn-primary m-2" href="/utente/accedi">Accedi</a>
					<a class="col btn btn-lg btn-primary m-2" href="/utente/registrati">Registrati</a>
				</div>
			</div>

		</div>

	</body>
</html>