<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>areaClienti</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
				integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
				crossorigin="anonymous">

	</head>
	<body>
		<div class="container-fluid text-center">

			<h1 class="display-5 mx-auto m-4">Area cliente</h1>

			<div class="container border border-primary rounded p-3">
				<div class="d-flex flex-column g-2">


					<body>

					<h1>Inserire un nuovo cliente</h1>

					<form action="/registrazione" method="POST">



						<table>
							<tr>
								<th>Title:</th>
								<td><input type="text" placeholder="title" name="title" /> </td>

							</tr>

							<tr>
								<th>Duration:</th>
								<td><input type="number" placeholder="duration" name="duration" /> </td>

							</tr>

							<tr>
								<th>Genre:</th>
								<td><input type="text" placeholder="genre" name="genre" /> </td>

							</tr>
							<tr>
								<th>PublishYear:</th>
								<td><input type="number" placeholder="publishYear" name="publishYear" /></td>

							</tr>
							<tr>
								<th>Actors:</th>
								<td><input type="text" placeholder="actors" name="actors" /> </td>

							</tr>
							<tr>
								<th>Description:</th>
								<td><input type="text" placeholder="description" name="description" /> </td>
							</tr>
							<tr>
								<th>Languages:</th>
								<td><input type="text" placeholder="languages" name="languages" /> </td>
							</tr>
							<tr>
								<th>Subtitles:</th>
								<td><input type="text" placeholder="Subtitles" name="subtitles" /> </td>
							</tr>
							<tr>
								<th>Price:</th>
								<td><input step="0.01" type="number" placeholder="price" name="price" /> </td>
							</tr>







						</table>

						<input type="submit" value="insert" />

					</form>




					</body>



				</div>
			</div>

		</div>

	</body>
</html>